@import url("https://fonts.googleapis.com/css?family=Noto+Serif");
*{
    margin:0;
    padding:0;
}
html,body{
    width:100%;
    height:100%;
    font-family:'Noto+Serif';
    font-size: 20px;
    justify-content: center;
    align-items: center;
    display: inline;
    color:blueviolet;
}
.datetime{
    color:#fff;
    font-family: "Segoe UI", sans-serif;
    text-align: center;
    padding: 4px 2px;     
}
.date{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time{
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.time span:not(:last-child){
    position: relative;
    margin:0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
.time span:last-child{
    background: #2E94E3;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding:0 5px;
    border-radius: 3px;
}
.navbar{
    background-color: rgba(82, 64, 120, 0.9) !important;
}
.navbar li a {
    color: white !important;
}
.navbar li a:hover{
    color: black !important;
}
.carousel-inner img {
    width:100%;
}
.carousel-caption{
    position: absolute;
    top:20%;
}
.carousel-caption h1{
    font-size: 400%;
    text-shadow: 5px 5px 15px #000;
}
.btn-primary{
    background-color: rgb(82, 64, 120);
    border: 1px solid white;
}
.btn-primary:hover{
    background-color: rgb(62, 44, 100);
    border: 1px solid white;
}
.jumbotron{
    padding: 1rem;
    border-radius:0;
}
.welcome hr{
    border-top:2px solid rgba(62,44,120,0.6);
    width: 95%;
    margin-bottom:2rem;
}
.fa-globe{
    color:#145FBA;
}
.fa-paw{
    color:#000;
}
.fa-home{
    color:#70B31C;
}
@media(max-width:992px){
    .carousel-caption{
        top:20%;
    }
    .carousel-caption h1{
        font-size: 250%;
    }
    .carousel-caption{
        font-size: 160%;
    }
    .carousel-caption .btn{
        font-size: 120%;
    }
}
@media(max-width:768px){
    .carousel-caption{
        top:20%;
    }
    .carousel-caption h1{
        font-size: 220%;
    }
    .carousel-caption{
        font-size: 140%;
        padding-bottom:0.2rem;
    }
    .carousel-caption .btn{
        font-size: 95%;
        padding:8px 14px;
    }
}
@media(max-width:576px){
    .carousel-caption{
        top:10%;
    }
    .carousel-caption h1{
        font-size: 150%;
    }
    .carousel-caption .btn{
        font-size: 90%;
        padding:4px 8px;
    }
}